html{
  height:100%;
  width:100%;
}
h1 {
  margin-top: 17%;
  font-size:60px;
  margin-left:12%;
}
#compras{
  display:flex;
  width: 320px;
  margin-left: 14%;
  margin-top:-35px;
  font-size: 27px;
}
.botoes{
  display:flex;
  height: 40px;
  margin-top: 11px;
  gap: 10px; 
  margin-left: 18%;
}
#papel {
  position: fixed;
  left: 51%;
  top: -45%;
  height: 170vh;
  width: 102vh;
}
#LDC li{ 
  position: relative;
  color:rgba(194, 22, 22, 0.958);
  top:-420px;
  left:57%;
  line-height: 32px;
  font-size: 23px;
}
